* {
    box-sizing: border-box;
    font-size: 1.05rem;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #2b2b2b;
}

li {
    color: #2b2b2b;
}

p {
    max-width: 70ch;
    color: #2b2b2b;
    line-height: 1.5;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card, #card-body {
    border-radius: 1rem;
}

#card {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transition: box-shadow 0.3s ease, margin 0.3s ease;
    background-image: url("../images/patternCard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 0 40px;
    margin: -5px;
    transition: box-shadow 0.3s ease, margin 0.3s ease;
}

#card-body {
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    flex-flow: row wrap-reverse;
    align-content: space-between;
}

#card-body img {
    border-radius: 100%;
    max-width: 200px;
    max-height: 200px;
    border: 3px solid white;
}

#card-body h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: rgba(255, 255, 255, 0.85);
}

#card-body p {
    color: rgba(255, 255, 255, 0.7);
}

.margin_bottom {
    margin-bottom: 2rem;
}