* {
    box-sizing: border-box;
    font-size: 1.05rem;
    font-family: 'Nunito', sans-serif;
}

body {
    padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #2b2b2b;
}

li {
    color: #2b2b2b;
}

p {
    max-width: 70ch;
    color: #2b2b2b;
    line-height: 1.5;
}

#card, #card-body {
    border-radius: 1rem;
}

#card {
    box-shadow: rgba(0, 0, 0, 0.1) 0 12px 25px -7px;
    transition: box-shadow 0.3s ease;
    background-image: url("../image/patternCard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 25px 5px;
    transition: box-shadow 0.3s ease;
}

#card-body {
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}

#card div img {
    border-radius: 100%;
    max-width: 200px;
    max-height: 200px;
    border: 3px solid white;
}

.margin_bottom {
    margin-bottom: 2rem;
}